productCreator.js
//en la vista
        <div class="add-product">
            <div class="add-product-table">
                <% showRandom.forEach(function(product){%>
                <div class="add-item">
                    <div class="add-img">
                        <img src=/images/products/<%= product['images.image_name']%>alt="<%=product.product_name%>"
                            class="product-add-image">
                    </div>
                    <div>
                        <ul class="details">
                            <li>
                                <p><%= product.product_name %></p>
                            </li>
                            <li>
                                <p class="price"><%= product.prince %></p>
                            </li>
                            <li><button class="btn btn-primary btn-addCart">Agregar a carrito</button></li>
                        </ul>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

// el controlador  
 // let random = function(productos){
        //     let resultado = [];
        //         for(let i = 1; i <= 3; i++ ){
        //         let aleatorio = productos[Math.floor(Math.random() * productos.length)]
        //         resultado.push(aleatorio)
        //     }
        //     return resultado
        //     }
        // let showRandom = random(data_base);
        // refreshContent()
        // let producto = data_base.find(function(producto){
        //     return  producto.prod_id == req.params.id
        // })
        // res.render('detail', {'producto': producto,  showRandom: showRandom});
        //data base