<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hardstore</title>
    <link rel="stylesheet" href="CSS/detail.css">
    <link href="CSS/header.css" rel="stylesheet">
    <!-- <link href="CSS/detail.css" rel="stylesheet">  comentada por que me pisa el header esta mal el css corresponde a un header viejo-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="cell_phone">
            <img class="logo" src="images/header/logo.png" alt="Logo">
            <div class="central_head">
                <div class="head_up">
                    <form action="products" method="get">
                        <div class="search_bar">
                            <i class="fas fa-search"></i>
                            <input type="text" name="search" id="search">
                            <button type="submit">Buscar</button>
                        </div>
                    </form>
                    <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                </div>

                <div class="head_down">
                    <div class="user_menu">
                        <p>User Name</p>
                    </div>
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
        <div class="desktop">
            <div class="structure">
                <img class="logo" src="images/header/logo.png" alt="Logo1">
                <div class="central_head">
                    <div class="head_up">
                        <img class="baner" src="images/header/baner.png" alt="Logo2-baner">
                    </div>
                    <div class="head_down">
                        <div class="user_menu">
                            <a>
                                <a href="/register">Registrarme</a>
                                <i class="far fa-user"></i>
                            </a>
                            <a>
                                <a href="login">Login</a>
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </div>
                        <a class="carrito" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- detail product -->
    <div class="general">
        <img class="monitor" src="/images/Monitores.jpg" alt="monitor">
        <div class="productos">

            <div class="descripcion">

                <div class="main-producto">
                    <div>
                        <h3>>Asus Monitor Gaming ROG Strix XG258Q 24.5 Full HD WLED</h3>
                    </div>
                </div>
                <hr>
                <div class="precio">
                    <h3>Ar$ 76.880</h3>
                    <hr>

                    <p> <i class="fas fa-check"></i>En Estock</p>
                </div>

                <div class="cuotas">
                    <div class="sin-interes">
                        <h4>¡ 18 Cuotas sin Interes ¡ <i class="fas fa-credit-card"></i></h4>
                    </div>
                    <div class="envios">
                        <p> <i class="fas fa-truck"></i>Envios Gratis</p>
                    </div>
                </div>
            </div>
            <div class="button">
                <!--button copiado-->
                <a href="/compra.html">
                    <button class="btn comprar">Comprar Ahora</button>
                </a>
                <button class="btn comprar">Volver al Carrito</button>

            </div>

        </div>
        <div class="detallePro">
            <h3>Detalle del Producto</h3>
            <hr>
            <p>Características: Asus Monitor Gaming ROG Strix XG258Q 24.5 Full HD WLED</p>
            <hr class="hr">
            <p>Color: Negro</p>
            <hr class="hr">
            <p>Uso: Recomendado Gaming</p>
            <hr class="hr">
            <p>Conexiones: HDMI
                USB</p>
            <hr class="hr">
            <p>Frecuencia De Refresco: 201-240 Hz</p>
        </div>
        <div class="main-interesar">
            <h4>Te puede interesar</h4>
        </div>

        <div class="interes">
            <i class="fas fa-angle-left"></i>
            <img src="/images/Monitores.jpg" alt="monitor">
            <img src="/images/Monitores.jpg" alt="monitor">
            <img src="/images/Monitores.jpg" alt="monitor">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>

</body>