<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hardstore</title>
    <link href="CSS/header.css" rel="stylesheet">
    <link href="CSS/detail.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="cell_phone">
            <div class="head_up">
                <img class="logo_1" src="images/logo_prueba.png" alt="Logo">
                <div class="search_bar">
                    <i class="fas fa-search"></i>
                    <p>Buscar</p>
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="head_down">
                <div class="user_menu">
                    <p>User Name</p>
                </div>
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <div class="desktop">
            <div class="structure">
                <img class="logo_1" src="images/logo_prueba.png" alt="Logo1">
                <div class="central_head">
                    <div class="head_up">
                        <img class="images/logo_2" src="" alt="images/Logo2-baner">
                    </div>
                    <div class="head_down">
                        <div class="user_menu">
                            <a>
                                <p>Registrarme</p>
                                <i class="far fa-user"></i>
                            </a>
                            <a>
                                <p>Login</p>
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </div>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- detail product -->
    <section class="productos">
        <div class="monitor">
            <img src="/images/Monitores.jpg" alt="monitor">
        </div>
        <div class="descripcion">

            <div class="main-producto">
                <p class="Asus">Asus Monitor Gaming ROG Strix XG258Q 24.5 Full HD WLED</p>
                <p class="precio">Ar$ 76.880</p>
                <p class="estock">En Estock</p>
            </div>
            <div class="cuotas">
                <i class="fas fa-credit-card"></i><p>¡ 18 Cuotas sin Interes</p>
            </div>
            <div class="envios">
                <i class="fas fa-truck"></i>
                <p>Envios Gratis</p>
            </div>

            <div class="button">
                <a href="#">
                    <p>Comprar Ahora</p>
                </a>
            </div>

        </div>

        <div class="detallePro">
            <h4>Detalle del Producto</h4>
            <p>Características Asus Monitor Gaming ROG Strix XG258Q 24.5 Full HD WLED</p>
            <p>Color Negro</p>
            <p>Uso Recomendado Gaming</p>
            <p>Conexiones HDMI
                USB</p>
            <p>Frecuencia De Refresco 201-240 Hz</p>
        </div>


        <div class="interes">
            <h4>Te puede interesar</h4>
            <img src="/images/monitores.jpg" alt="monitor">
            <img src="/images/monitores.jpg" alt="monitor">
            <!-- <img src="/images/monitor.png" alt="monitor" width="35%"> -->
        </div>

    </section>

</body>