<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hardstore</title>
    <link href="/CSS/detail.css" rel="stylesheet">

    <link href="/CSS/header.css" rel="stylesheet">
    <link href="/CSS/footer.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <!-- detail product -->
    <div class="general">

        <div class="productos">
            <div class="imagen">
                <img class="monitor" src="/images/Monitores.jpg" alt="monitor">
            </div>
            <div class="main-producto">
                <h3 class="asus">>Asus Monitor Gaming ROG Strix XG258Q 24.5 Full HD WLED</h3>

                <div class="precio-stock">
                    <h3 class="precio">Ar$ 76.880</h3>
                    <br>
                    <a href="#" class="stock">
                        <p> <i class="fas fa-check"></i>En Stock</p>
                    </a>
                </div>
                <div class="cuotas-envios">
                    <p class="cuotas">¡ 18 Cuotas sin Interes ¡ <i class="fas fa-credit-card"></i></p>
                    <br>
                    <a href="#" class="envios">
                        <p class="main-envios">Envios gratis</p>

                    </a>

                </div>
            </div>
        </div>
        <div class="button">
            <!-- ver butoon -->
            <ul class="main-ul">
                <li><img class="monitor" src="/images/Monitores.jpg" alt="monitor"></li>
                <li><img class="monitor" src="/images/Monitores.jpg" alt="monitor"></li>
                <li><img class="monitor" src="/images/Monitores.jpg" alt="monitor"></li>
            </ul>

            <a href="/compra.html" class="ahora">
                <button class="btn comprar">Comprar Ahora</button>
            </a>
        </div>

        <br>
        <div class="detallePro">
            <h3>Detalle del Producto</h3>
            <hr>

            <p>Características: Asus Monitor Gaming ROG Strix XG258Q 24.5 Full HD WLED</p>
            <hr>
            <p>Color: Negro</p>
            <hr>
            <p>Uso: Recomendado Gaming</p>
            <hr>
            <p>Conexiones: HDMI
                USB</p>
            <hr>
            <p>Frecuencia De Refresco: 201-240 Hz</p>
        </div>

        <br>
        <div class="main-interesar">
            <h4>Te puede interesar</h4>
        </div>

        <div class="interes">
            <i class="fas fa-angle-left"></i>
            <img src="/images/Monitores.jpg" alt="monitor">
            <img src="/images/Monitores.jpg" alt="monitor">
            <img src="/images/Monitores.jpg" alt="monitor">
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="interes-2">
            <i class="fas fa-angle-left"></i>
            <img src="/images/Monitores.jpg" alt="monitor">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>

</body>