<!DOCTYPE html>
<html lang="en">
<head>
    <link href="CSS/style.css" rel="stylesheet" >
    <link href="CSS/home.css" rel="stylesheet" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardstore</title>
    <script src="https://kit.fontawesome.com/190d2f0c87.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            <div class="head_up">
                <img src="" alt="Logo">
                <div class="search_bar">
                    <i class="fas fa-search"></i>
                    <p>Buscar</p>
                </div>
                <i class="fas fa-shopping-cart"></i>
            </div>
             <div class="head_down">
                <p>User Name</p>
                <i class="fas fa-bars"></i>
            </div>       
        </div>
    </header>

    <main>
        <img class="baner" src="https://d2az8otjr0j19j.cloudfront.net/templates/001/090/108/twig/static/images/banner_estatico_12cuotas.jpg?1151005393" alt="Baner de pagina">
        <h3 class="seccion_title">¿Que estas buscando?</h3>
        <div class="categories">
            <a href="Products"><img src="images/tecl_mouse.jfif"><p>Teclados y Mouses</p></a>
            <a href=""><img src="images/monitores.jpg"><p>Monitores</p></a>
            <a href=""><img src="images/auris.png"><p>Auriculares y Parlantes</p></a>
            <a href=""><img class="img_juegos" src="images/games.png"><p>Juegos</p></a>
            <a href=""><img src="images/silla.jpg"><p>Sillas Gamer</p></a>
            <a href=""><p>Todos los productos</p></a>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>