<! DOCTYPE html >
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta nombre="viewport" content="width=device-width, initial-scale=1.0">
    <link href="CSS/login.css" rel="stylesheet" >


    <title>Login</title>
     </head>
      <body>
        <main>
           <header>
             <format>

                
        <p1>INICIAR SESION</p1>
        <div clase ="icono-log">
          <img src="images/login/facebook.png" alt=" facebook">
          <img src="images/login/gmail.jpg" alt=" gmail">
          <img src="images/login/instagram.png" alt=" instagram">
        </div>
        
        
        <img clase= "icono" src="images/login/usuario.png" alt=" usuario">
        
          <hr color="blake" size=1>
            
              <input class="datosingresados" type="text" name="NOMBRE" placeholder="NOMBRE">
              <input class="datosingresados" type="text" name="CONTRASEÑA" placeholder="CONTRASEÑA">
               <p1><a href =" # "><li>RECORDAR CONTRASEÑA</a></li> </p1>   
               <hr color="blake" size=1>
               <hr color="blake" size=2>
               <p2><a>RECUPERAR CONTRASEÑA</a></p2>
               <hr color="blake" size=2>
               <button>Iniciar sesion</button>
               <hr color="blake" size=1>
                  <p3  class ="¿Aun no tienes una cuenta" > ¿Aun no tienes una cuenta?  </ p3 >
       
</format>
</main>
</header>  
</body>
<footer>
</footer>

</html>