<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="CSS/login.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css/login.css" media="all" href="/login.css">
    <link rel="stylesheet" media="only screen and (max-width: 768px)" href="estilos.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Bienvenido a Hardstore</title>
</head>
      <main>
           <header>
            <body>
              <form> 
                <h2 class="create-account">Iniciar Sesion</h2>
                <div class="iconos">
                <div<i class="border-icon"i>
                <i class="fas fa-truck"></i>
                <i class='bx bxl-instagram'></i>
                 <i class='bx bxl-linkedin' ></i>
                 <i class='bx bxl-facebook-circle' ></i>
                 <i class="fas fa-truck fa-flip-horizontal"></i>
                  </div>
                  <div class="usuario">
                <img src="images/img-usuario.png" alt="usuario">
                <i class="fas fa-truck fa-flip-horizontal"></i>
            </div>
            
            <p class="cuenta-gratis">crear una cuenta es gratis</p>
            
            <div class="form-Register">
            <div class="contenedor">
            <input type="name" placeholder="nombre">
            <input type="password" value="contraseña">
            <input type="pass_confirm" value="recordá">
            <input type="pass_confirm" value="recuperá">
               </div>
            <button class="log-in-btn">¿ya tenes cuenta?</button>
             
    <hr color="blake" size=2>
            <button class="mensaje">INICIAR SESION</button>
             </form>
            </div>
        </div>
    </div>
    </main>
    <footer>

    </footer>
</body>
</html>


