
<!DOCTYPE html>
<html>
<head>
    <title>Hardstore - NOT FOUND</title>
    <%- include("../partials/head.ejs") %>
    <link href="/CSS/admin/prodModification.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./partials/header.ejs") %>
    </header>
    <main>
        <h1> 404! NOT FOUND</h1>
        <h1>pero no desesperes  ; )</h1>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>