<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/register.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <link rel="stylesheet" type="text/css/login.css" media="all" href="/login.css">
    <link rel="stylesheet" href="css/register.css">
    
    <title>Register Hardstore</title>
</head>
  <main>
    <header>
      <body>
        <div class= "Registro">Crear Cuenta</div>
            <div class= icons>
              <i class='bx bxl-instagram'></i>
              <i class='bx bxl-linkedin' ></i>
              <i class='bx bxl-facebook-circle' ></i>
            </div>
            <span class="iconify" data-icon="ion:person-outline"></span>
            <p class="cuenta-gratis">crear una cuenta es gratis</p>
            <form action="#" method="post">
              <input type="name" placeholder="nombre"> 
              <input type="email" value=""placeholder="email">
                                  <input type="password" value= "" placeholder="contraseña">
                                    <input type="password" value=""placeholder="confirma">
                                      </div>
                                        <hr esto es una linea hr>
                                        <button class="mensaje">REGISTRAR</button>
                                          <div class="log-in-btn">Iniciar sesion</div>
                                          
            </form>
                        </body>     
                  </header>
                </main>
  <footer></footer>

</html> 