<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" media="all" href="register.css">
    <title>Bienvenido a Hardstore</title>
</head>
      <main>
           <header>
                 <body>
                 
              <div class="container-form sign-in">
               <form class="formulario">
                 <h2 class="create-account">Iniciar Sesion</h2>
                 <div class="iconos">
                  <div class="border-icon">
                    <i class='bx bxl-instagram'></i>
                     </div>
                      <div class="border-icon">
                        <i class='bx bxl-linkedin' ></i>
                     </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
              </div>
            </div>
        </div>
    </div>
    <img clase= "icono" src="images/login/usuario.png" alt=" usuario">
     <hr color="blake" size=2>
      </div>
            <p class="cuenta-gratis">¿crear una cuenta es gratis?</p>
            <input type="name" placeholder="NOMBRE">
            <input type="email" placeholder="EMAIL">
            <input type="password" value="CONTRASEÑA">
            <input type="pass_confirm" value="CONFIRMAR">
        </form>
        <div class="welcome-back">
            <div class="message">
                <p>¿ya tenes cuenta? inicio sesion</p>
                <input type="reset" value="Borrar">
                <hr color="blake" size=2>
                <button class="sign-in-btn">Registrarse</button>
            </div>
        </div>
    </div>
    </main>
    <footer>

    </footer>
</body>
</html>
    
    


