* {
    box-sizing: border-box;
    margin: 0px;
}

.desktop {
    display: none;
}

header {
    background-color: rgb(255, 49, 49);
}

.logo_1 {

    align-self: center;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: black solid 3px;
    margin-right: 40px;
}

header .head_up {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

header .search_bar {
    display: flex;
    width: 55%;
    justify-content: space-between;
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    padding: 2px 10px;
}

header .search_bar p {
    font-weight: bold;
    align-self: center;
}

header i {
    font-size: 25px;
    align-self: center;
}

header .head_down {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
}

header .head_down .user_menu {
    padding-left: 20%;
    font-weight: bold;
    border: black solid 2px;
    border-radius: 15px;
}

@media (min-width: 500px) {
    .desktop {
        display: block;
    }

    .cell_phone {
        display: none;
    }

    .structure {
        display: flex;
        justify-content: center;
    }

    header .head_down .user_menu {
        display: flex;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        margin-right: 50px;
    }

    header .head_down .user_menu a {
        display: flex;
    }

    header .head_down .user_menu a p {
        align-self: center;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

hr {
    border: 1px solid red;
}

.general {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 130px;
}

.general .monitor {
    width: 900px;
}

div .main-producto {
    padding: 15px 0px;
    font-size: xx-large;
}

div .precio {
    display: flex;
    padding: 50px 0px;
    font-size: xx-large;
    justify-content: space-between;
}

div .precio p {
    color: rgb(115, 190, 1);
    font-style: unset;
}

div .cuotas {
    display: flex;
    justify-content: space-between;
}

div .cuotas .sin-interes {
    font-size: x-large;
}

div .cuotas .envios {
    font-size: x-large;
}

div .button {
    display: flex;
    padding: 150px 150px;
    align-content: stretch;
    justify-content: space-between;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 17px;
    cursor: pointer;
}

.comprar {
    border-color: rgb(115, 190, 1);
    color: green;
}

.comprar:hover {
    background-color: rgb(115, 190, 1);
    color: white;
}

.general .detallePro {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(252, 247, 247, 0.966);
    border-radius: 5px;
    font-size: xx-large;
    padding: 25px
}

.general .detallePro p {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.842);
}

.detallePro .hr {
    border: 1px solid rgba(255, 255, 255, 0);
}

.general .main-interesar {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    width: 100%;
    padding: 50px;


}

.general .interes {
    display: flex;
    padding: 80px;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(223, 219, 219, 0.397);
}

.general .interes img {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.219);
    width: 500px;
}

.general .interes i {

    font-size: 75px;
    padding-top: 80px;
}