* {
    box-sizing: border-box;
    margin: 0px;
}

.desktop {
    display: none;
}

header {
    background-color: rgb(255, 49, 49);
}

.logo_1 {

    align-self: center;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: black solid 3px;
    margin-right: 40px;
}

header .head_up {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

header .search_bar {
    display: flex;
    width: 55%;
    justify-content: space-between;
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    padding: 2px 10px;
}

header .search_bar p {
    font-weight: bold;
    align-self: center;
}

header i {
    font-size: 25px;
    align-self: center;
}

header .head_down {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
}

header .head_down .user_menu {
    padding-left: 20%;
    font-weight: bold;
    border: black solid 2px;
    border-radius: 15px;
}


header .head_down .user_menu {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-right: 50px;
}

header .head_down .user_menu a {
    display: flex;
}

header .head_down .user_menu a p {
    align-self: center;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

hr {
    width: 80%;

}

div.general {
    margin: 10%;
    margin-top: 0;
}

.productos {
    display: grid;
    width: 100%;
    grid-template-columns: 60% auto;
    padding-bottom: 15px;
}

.productos img {
    max-width: 100%;
}

.productos .main-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.main-producto h3 {
    font-size: 24px;
}

.main-producto p {
    font-size: 20px;
}

.main-producto .stock {
    text-decoration: none;
    color: rgb(115, 190, 1);
}

.cuotas-envios {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.precio-stock {
    display: flex;
    flex-direction: column;
}

.main-producto .envios {
    text-decoration: none;
    border-radius: 5px;
    padding: 2px 2px;
    background-color: rgb(115, 190, 1);
    color: white;
    width: 20%;
}

.main-producto .main-envios {
    font-size: 15px;
    text-align: center;
}

div .button {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;

}

/* ver btn .comprar */
.ahora {
    display: flex;
    justify-content: flex-end;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 17px 0;
    font-size: 24px;
    cursor: pointer;
}

.comprar {
    border-color: rgb(115, 190, 1);
    color: green;
    width: 80%;
}

.comprar:hover {
    background-color: rgb(115, 190, 1);
    color: white;
}


.main-ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around
}

.main-ul img {
    max-height: 50px;
    width: auto;
    margin: 0 0 28px 16px;
}

.main-ul li {
    list-style: none;
}


.general .detallePro {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    padding: 100px 5px 100px 5px;
    box-shadow: 0px 0px 18px 8px rgb(0, 0, 0, 0.1);
}

.general .detallePro p {
    padding: 20px 0px;
}

.general .detallePro hr {
    width: 100%;
}

.general .main-interesar {
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding-bottom: 50px;

}

.general .interes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

/* ver box-shadow*/
.general .interes img {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.219);
    width: 25%;
}

.interes i {
    display: flex;
    align-items: center;
    font-size: 25px;

}

.general .interes-2 {
    display: none;
}

@media (min-width: 500px) {
    .desktop {
        display: block;
    }

    .structure {
        display: flex;
        justify-content: center;

    }

    .envios {
        width: 100%;

    }

}


@media (max-width: 500px) {
    .productos {
        display: block;
        width: 100%;
        text-align: center;
    }

    .envios {
        display: none;
    }

    div .main-ul {
        display: none;
    }

    div .button {
        display: flex;
        justify-content: space-evenly
    }

    .btn {
        width: 150%;
        padding: 17px 75px;
    }

    .general .interes {
        display: none;
    }

    .general .interes-2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }

    .general .interes-2 img {
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.219);
        width: 75%;
    }

    .interes-2 i {
        display: flex;
        align-items: center;
        font-size: 25px;

    }
}