.baner{
    height: 200px;
}
.carrusel{
    max-width: none;
}
main{
    background-color: white;
    display: flex;
    flex-direction: column;
}
h3{
    text-align: center;
    margin: 5px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categories a{
    width: 45%;
    max-width: 170px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.705);
    border: black solid 2px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}
a img{
    height: 80%;
    max-width: 100%;
    border-radius: 10px;
}
.categories a{
    background-color: white;
}
.products a{
    background-color: white;
}
.products a img{
    height: 120px;
}
.categories a p{
    text-align: center;
    padding-bottom: 5px;
}
.img_juegos{
    max-width: 90%;
    padding: 10px;
    height: auto;
}
main .search_bar{
    display: flex;
    justify-self: center;
    width: 300px;
    justify-content: space-between;
    background-color: white;
    border:rgb( 100 , 100 , 100 ) solid 1px;
    border-radius: 10px;
    padding: 2px 10px;
    margin: auto;
    margin-top: 15px;
    align-items: center;
}
main .search_bar input{
    border: none;
    width: 100%;
}
main .search_bar button{
    border: none;
    background-color: white;
    transition: 0.7s;
}
main .search_bar button:hover{
    background-color: lightblue;
}
.nav_bar{
    display: flex;
    margin: 10px;
    margin-top: 15px;
    justify-content: center;
    padding: 0px;
    font-size: 24px;
}
.nav_bar li{
    margin: 0px 10px;
    font-weight: bold;  
}
main .line{
    width: 550px;
    margin: auto;
}
h4{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.destacados .products{
    margin-top: 2px;
}
@media (min-width: 500px){
    main .desktop{
        display: block;
    }
    main .cell_phone{
        display: none;
    }
    .carrusel{
        width: 100%;
        height: 200px;
        background-color: #EAE7DC;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .categories a{
        max-width: 250px;
        height: 200px;
        margin: 15px;
        border: black solid 1px;
        border-radius: 1px;
        box-shadow : 0px 0px 5px rgb( 100 , 100 , 100 );
    }
    .categories a p{
        text-align: center;
        padding-bottom: 5px;
        background-color: black;
        color: white;
        font-weight: bold;
        width: 100%;
        padding: 7px;
        font-size: 20px;
    }
    .destacados .products{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin-top: 15px;
        margin: auto;
        justify-content: center;
    }
    .products a{
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        width: 230px;
        height: 290px;
        margin: 25px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        border: rgba(0, 0, 0, 0.534) solid 1px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .destacados .products img{
        margin: 15px 0px;
        
    }
    .destacados .products .prod_name{
        text-align: center;
        width: 100%;
        height: 35px;
    }
    hr{
        color: rgb(226, 226, 226);
    }
    .destacados .products .prices{
        display: block;
        margin-top: 5px;
        width: 85%;
    }
    .destacados .products .price{
        margin-top: 10px;
        font-size: 12px;
        color: gray;
        text-decoration: line-through;
        display: block;
        margin-left: 30px;
    }
    .destacados .products .price_down{
        width: 100%;
        font-size: 18px;
        display: flex;
        font-weight: normal;
        margin-top: 5px;
        margin-left: 30px;

    }
    .destacados .products .price_down .dto{
        color: rgb(115, 190, 1);
        font-weight: bold;
        font-size: 12px;
        align-self: center;
        margin-left: 20px;
    }
    .envios{
        background-color: rgb(115, 190, 1);
        color: white;
        border-radius: 5px;
        height: 20px;
        padding: 14px;
        font-size: 15px;
        align-items: center;
        display: flex;
        margin-top: 6px;
    }

}


@media (min-width: 1000px){
    main .desktop .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    main .desktop .nav_bar{
        margin: 10px 0px;
     
    }
    main .line{
        width: 1100px;
    }

}