.baner{
    width: 100%;
}

h3{
    text-align: center;
    margin: 5px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories a{
    width: 45%;
    max-width: 170px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .categories a{
    display: flex;
    flex-wrap: wrap;
    border: black solid 2px;
    border-radius: 10px;
}

a img{
    height: 100px;
    max-width: 100%;
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.categories a p{
    text-align: center;
    padding-bottom: 5px;
}

.img_juegos{
    max-width: 80%;
    padding: 10px 20px;
    height: auto;
}

main .search_bar{
    display: flex;
    justify-self: center;
    width: 300px;
    justify-content: space-between;
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    padding: 2px 10px;
    margin: auto;
    margin-top: 15px;
}

.nav_bar{
    display: flex;
    margin: 10px;
    margin-top: 15px;
    justify-content: center;
    padding: 0px;
}

.nav_bar li{
    margin: 0px 10px;
    font-weight: bold;  
}

main .line{
    width: 600px;
    margin: auto;
}

h4{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.destacados .products{
    margin-top: 2px;
}

@media (min-width: 500px){
    .carrusel{
        width: 100%;
        height: 300px;
        background-color: rgb(115, 236, 115);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .destacados .products{
        display: flex;
        flex-wrap: wrap;
        max-width: 60%;
        padding: 0px;
        margin-top: 15px;
        margin: auto;
        justify-content: center;
    }

    .products a{
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        width: 170px;
        height: 270px;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        border: rgba(0, 0, 0, 0.534) solid 1px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .destacados .products img{
        margin: 15px 0px;
        
    }

    .destacados .products .prod_name{
        text-align: center;
        width: 100%;
        height: 35px;
    }

    hr{
        color: grey;

    }
    .destacados .products .prices{
        display: block;
        margin-top: 10px;
        width: 70%;

    }
    .destacados .products .price{
        margin-top: 10px;
        font-size: 12px;
        color: gray;
        text-decoration: line-through;
        display: block;

    }

    .destacados .products .price_down{
        width: 100%;
        font-size: 18px;
        display: flex;
        font-weight: normal;
        margin-top: 5px;
        justify-content: space-between;
    }
    .destacados .products .price_down .dto{
        color: rgb(10, 212, 10);
        font-weight: bold;
        font-size: 12px;
        align-self: end;
    }

    .envios{
        background-color: rgb(10, 212, 10);
        color: white;
        border-radius: 15px;
        height: 20px;
        padding: 5px;
        font-size: 16;
        align-items: center;
        display: flex;
        margin-top: 6px;

    }
}