*{
  margin: 0px;
  padding: 0px; 
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
main{
  width: 300px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}
main header.register{
  background-color: #F3CF2B;
  padding-top: 10px;
  width: 95%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 15px;
}
main h2{
  margin: 10px 0px;
}
main svg.iconify.iconify--ion{
  display: flex;
  padding-top:10px;
  margin: auto;
  border-right: black;
  width: 70px;
  height:60px;
  border: 2px solid black;
}
main p.cuenta-gratis{
  padding: 20px 0px;
  text-align: center;
  justify-content: center;
}
main form{
  text-align: center;
  margin-top: 15px;
}
main input{
  margin: 5px;
  text-align: center;
  font-size: 15px;
}
main button{
  margin: 15px;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: rgb(115, 190, 1);
  font-weight: bold;
  color: white;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 18px;
}
main hr{
  width: 90%;
  margin: auto;
}
main p{
  text-align: center;
}
main .icons{
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}
main .icons .iconify-inline{
  height: 28px;
  padding-bottom: 10px;
}
main a{
  display: block;
  text-align: center;
  color: gray;
  padding-bottom: 5px;
}
.errores {
  color: red;
}