*{
  margin: 0px;
  padding: 0px; 
    
}

@media (max-width:500px) {
    .desktop {
        display: block;
    }
  }
    

div.Registro{
color:black;
font-size: 24px;
text-align: center;
padding-top: 20px;
      
      }
div.iconos{
text-align: center;
justify-content: center;
margin-top: 5%;
      }
    
p.cuenta-gratis{
padding-top:5%;
text-align: center;
justify-content: center;
    }
svg.iconify.iconify--ion{
padding-top:5%;
margin-left: 35%;
border-right: black;
width: 60px;
height:50px;
border: 3px solid black;}
    
div.formulario{
width:200px ;
background:#24303c;
padding:10px;
margin:auto;
margin-top:20px;
border-radius:4px;
font-family:'calibri';
    }

input{
text-align: center;
font-size: black;
align-items: center;
padding-top: -10%;
    }
header{
background-color: #eb3939; 
justify-content: space-between;
padding-top: 10px;
align-items: center;
width: 210px;
height: 175px;
    }
form{
width: 100px;
height: 100px;
margin-top: 20px;
margin-left: 10px;
margin-right: 10px;
}