* {
    box-sizing: border-box;
    margin: 0px;
}
h2{
    margin-bottom: 15px;
    text-align: center;
}
main{
    margin: 15px;
}
.imgTitle{
    display: flex;
    flex-direction: column;
}
main .navbar{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-bottom: 10px;
}
main .navbar a{
    background-color: rgb(115, 190, 1);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.userCont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.datos{
    margin-left: 20px;
    background-color: rgba(245, 245, 245, 0.712);
    padding: 10px 20px 20px 20px;
    width: 320px;
    border-radius: 15px;
}
.datos i{
    color: gray;
    font-size: 30px;
}
main img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
main p{
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
}

.save_div{
    display: flex;
    justify-content: space-between;

}
button{
    margin-top: 17px;
    background-color: rgb(115, 190, 1);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    border: rgba(218, 218, 218, 0.712) solid 1px;
    font-size: medium;
    
}
.cancel{
    margin-top: 17px;
    background-color: rgb(255, 51, 0);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    border: rgba(218, 218, 218, 0.712) solid 1px;
    font-size: medium;
}
input{
    border: rgba(218, 218, 218, 0.712) solid 1px;
    padding: 10px;
    width: 100%;
    font-size: medium;
}
h4{
    margin: 7px 0px 3px 0px;
}

