<footer>
    <div class="footer">
        <h2>Hardstore</h2>
        <div class="FooterItems">
            <div class= "LeftPanel">
                <div class="FooterPanel" >
                    <div class="DetailFooter"><p>Contacto</p></div>
                        <p>Av. Fox 1730</p>
                        <p>info@hardstore.com</p>
                </div>
                <div class="FooterPanel">
                    <div class="DetailFooter"><p>Productos</p></div>
                        <p class= DetailText>Más vendidos</p>
                        <p class= DetailText>Tendencias</p>
                    </div>
            </div>
            <div class= "RightPanel"> 
                <div class= "FooterPanel">
                    <div class="DetailFooter"><p>Nosotros</p></div>
                        <p>Envíos</p>
                        <p>Ayuda</p>
                </div>
                <div class= "FooterPanel">
                    <div class="DetailFooter"><p>Otros</p></div>
                        <p>Contacto</p>
                        <p>Privacidad</p>
                </div>
            </div>
        </div>
    </div>
    <div class= "RedesSociales">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fas fa-map-marker-alt"></i>
        <i class="far fa-envelope"></i>
    </div>
    <hr>
    <div class= "MediosDePago">
        <img src="/images/footer/medios de Pago.png" alt="tarjeta" class="FooterIcons">
    </div>      
    <div class="CopyRight">
        <p>© 2021 Todos los derechos reservados</p>
    </div>
</footer>