<header>
    <div class="cell_phone">
        <img class="logo" src="/images/header/logo.png" alt="Logo">
        <div class="central_head">
            <div class="head_up">
                <form action="products" method="get">
                    <div class="search_bar">
                        <i class="fas fa-search"></i>
                        <input type="text" name="search" id="search">
                        <button type="submit">Buscar</button>
                    </div>
                </form>
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        
            <div class="head_down">
                <div class="user_menu">
                    <p>User Name</p>
                </div>
                <i class="fas fa-bars"></i>
            </div>       
        </div>
    </div>
    <div class="desktop">
        <div class="structure">
            <a href="/"><img class="logo" src="/images/header/logo.png" alt="Logo1"></a>
            <div class="central_head">
                <div class="head_up">
                    <a href="/"><h1>HARDSTORE</h1></a>
                </div>
                    <div class="head_down">
                        <div class="user_menu">
                            <a>
                            <a href="/register">Registrarme</a>
                            <i class="far fa-user"></i>
                            </a>
                            <a>
                            <a href="/login">Login</a>
                            <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </div>
                        <a class="carrito" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="navbar">
                <ul>
                    <a>Home</a>
                    <a>Nosotros</a>
                    <a>Contacto</a>
                    <a>Ubicacion</a>
                </ul>
            </div>
        </div>
</header>