<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/compra.css">
</head>

<body>
    <div class="x">
        <i class="fas fa-times"></i>
        <i class="fas fa-crosshairs"></i>
    </div>
    <div class="main-añadido">
        <i class="fas fa-crosshairs"></i>
        <h2>¡ Se añadio al Carrito !</h2>
            <!--button copiado-->
            <div class="button">
                <a href="/compra"> <button class="btn comprar">Comprar Ahora</button></a>
            <button class="btn comprar">Volver al Carrito</button>
            </div>
    </div>

</body>

</html>